{% extends 'dockermon/base.html' %}
<!DOCTYPE html>
<html>
  
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <title>Bootstrap Admin Theme v3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="css/styles.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>{% block main %}
  
  <body>
    <!-- HEADER -->
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <!-- Logo -->
            <div class="logo">
              <h1>
                <a href="index.html">Bootstrap Admin Theme</a>
              </h1>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-lg-12">
                <div class="input-group form">
                  <input type="text" class="form-control" placeholder="Search...">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Search</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="navbar navbar-inverse" role="banner">
              <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                    <ul class="dropdown-menu animated fadeInUp">
                      <li>
                        <a href="profile.html">Profile</a>
                      </li>
                      <li>
                        <a href="login.html">Logout</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- HEADER ENDS -->
    <div class="page-content">
      <div class="row">
        <div class="col-md-2">
          <!-- SIDE BAR -->
          <div class="sidebar content-box" style="display: block;">
            <ul class="nav">
              <!-- Main menu -->
              <li class="current">
                <a href="index.html"><i class="glyphicon glyphicon-home"></i> Dashboard</a>
              </li>
              <li>
                <a href="calendar.html"><i class="glyphicon glyphicon-calendar"></i> Calendar</a>
              </li>
              <li>
                <a href="stats.html"><i class="glyphicon glyphicon-stats"></i> Statistics (Charts)</a>
              </li>
              <li>
                <a href="tables.html"><i class="glyphicon glyphicon-list"></i> Tables</a>
              </li>
              <li>
                <a href="buttons.html"><i class="glyphicon glyphicon-record"></i> Buttons</a>
              </li>
              <li>
                <a href="editors.html"><i class="glyphicon glyphicon-pencil"></i> Editors</a>
              </li>
              <li>
                <a href="forms.html"><i class="glyphicon glyphicon-tasks"></i> Forms</a>
              </li>
              <li class="submenu">
                <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Pages
                            <span class="caret pull-right"></span>
                         </a>
                <!-- Sub menu -->
                <ul>
                  <li>
                    <a href="login.html">Login</a>
                  </li>
                  <li>
                    <a href="signup.html">Signup</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- SIDE BAR ENDS -->
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6">
              <div class="content-box-large">
                <div class="panel-heading">
                  <div class="panel-title">Your Current Location</div>
                  <div class="panel-options">
                    <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                    <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                  </div>
                </div>
                <div class="panel-body">
                  <div id="myloc"></div>
                  <div id="map-canvas"></div>
                  <br />
                  <script type="text/javascript">
     var userFeed = new Instafeed({
        get: 'user',
        userId: 199117602,
        accessToken: '199117602.467ede5.ae85c621804d4cfa893f4243b7fc39b6',
        target:'div'

    });
    userFeed.run();


</script>
<div id="div"></div>
                  <br />
                  <div id="wthr_rpt"></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="content-box-header">
                    <div class="panel-title">Events from Google Calender &nbsp&nbsp&nbsp&nbsp&nbsp Now its:
                      <a id="current_time"></a>
               
                    </div>
                    <div class="panel-options">
                      <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                      <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                    </div>
                  </div>
                  <div class="content-box-large box-with-header">
                    <div id="Calender_google">
                      <script type="text/javascript">
                        // Your Client ID can be retrieved from your project in the Google
                        // Developer Console, https://console.developers.google.com
                        var CLIENT_ID = '71843179415-gc0ci5oqfuc1snr4uiga8n6gtjl1tole.apps.googleusercontent.com';
                  
                        // This quickstart only requires read-only scope, check
                        // https://developers.google.com/google-apps/calendar/auth if you want to
                        // request write scope.
                        var SCOPES = ['https://www.googleapis.com/auth/calendar.readonly'];
                  
                        /**
                         * Check if current user has authorized this application.
                         */
                        function checkAuth() {
                          gapi.auth.authorize(
                            {
                              'client_id': CLIENT_ID,
                              'scope': SCOPES,
                              'immediate': true
                            }, handleAuthResult);
                        }
                  
                        /**
                         * Handle response from authorization server.
                         *
                         * @param {Object} authResult Authorization result.
                         */
                        function handleAuthResult(authResult) {
                          var authorizeDiv = document.getElementById('authorize-div');
                          if (authResult && !authResult.error) {
                            // Hide auth UI, then load Calendar client library.
                            authorizeDiv.style.display = 'none';
                            loadCalendarApi();
                          } else {
                            // Show auth UI, allowing the user to initiate authorization by
                            // clicking authorize button.
                            authorizeDiv.style.display = 'inline';
                          }
                        }
                  
                        /**
                         * Initiate auth flow in response to user clicking authorize button.
                         *
                         * @param {Event} event Button click event.
                         */
                        function handleAuthClick(event) {
                          gapi.auth.authorize(
                            {client_id: CLIENT_ID, scope: SCOPES, immediate: false},
                            handleAuthResult);
                          return false;
                        }
                  
                        /**
                         * Load Google Calendar client library. List upcoming events
                         * once client library is loaded.
                         */
                        function loadCalendarApi() {
                          gapi.client.load('calendar', 'v3', listUpcomingEvents);
                        }
                  
                        /**
                         * Print the summary and start datetime/date of the next ten events in
                         * the authorized user's calendar. If no events are found an
                         * appropriate message is printed.
                         */
                        function listUpcomingEvents() {
                          var request = gapi.client.calendar.events.list({
                            'calendarId': 'primary',
                            'timeMin': (new Date()).toISOString(),
                            'showDeleted': false,
                            'singleEvents': true,
                            'maxResults': 10,
                            'orderBy': 'startTime'
                          });
                  
                          request.execute(function(resp) {
                            var events = resp.items;
                  
                            console.log(events);
                           // appendPre('Upcoming events:');
                  
                            if (events.length > 0) {
                              for (i = 0; i < events.length; i++) {
                                var event = events[i];
                                var when = event.start.dateTime;
                                if (!when) {
                                  when = event.start.date;
                                }
                                var extra1 = "";
                                var extra2 = "";
                                
                                /*var tdy = new Date();
                                tdy = tdy.toISOString();
                                tdy = tdy.split("T");
                                tdy = tdy[0];
                                evt = when.split("T");
                                evt = evt[0];
                              //  evt = "2015-04-28";
                                console.log(evt);
                                var extra1 = "";
                                var extra2 = "";
                                if(tdy.string == evt.string ){
                                	alert("DDDD");
                                	extra1 = '<span style="background-color: #FFFF00">';
                                	extra2 = '</span>';
                                }*/
                                appendPre(extra1 + event.summary + ' (' + when + ')'+ extra2 +   event.location);
                              }
                            } else {
                              appendPre('No upcoming events found.');
                            }
                  
                          });
                        }
                  
                        /**
                         * Append a pre element to the body containing the given message
                         * as its text node.
                         *
                         * @param {string} message Text to be placed in pre element.
                         */
                        function appendPre(message) {
                          var pre = document.getElementById('output');
                          var textContent = document.createTextNode(message + '\n');
                          var h = document.createElement("hr");               
                          pre.appendChild(h);
                          
                          pre.appendChild(textContent);
                         // pre.innerHTML = message + '\n';
                        }
                      </script>
                      <script src="https://apis.google.com/js/client.js?onload=checkAuth">
</script>
                      </head>
                      
                      <body>
                        <div id="authorize-div" style="display: none">
                          <span>Authorize access to calendar</span>
                          <!--Button for the user to click to initiate auth sequence -->
                          <button id="authorize-button" onclick="handleAuthClick(event)">Authorize</button>
                        </div>
                        <div id="output"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="content-box-header">
                    <div class="panel-title">New vs Returning Visitors</div>
                    <div class="panel-options">
                      <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                      <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                    </div>
                  </div>
                  <div class="content-box-large box-with-header"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 panel-warning">
              <div class="content-box-header panel-heading">
                <div class="panel-title ">New vs Returning Visitors</div>
                <div class="panel-options">
                  <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                  <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                </div>
              </div>
              <div class="content-box-large box-with-header"></div>
            </div>
          </div>
          <div class="content-box-large"></div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="copy text-center">Copyright 2015
          <a href='#'>IVIN POLO SONY</a>
        </div>
      </div>
    </footer>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      (function () {
          function checkTime(i) {
              return (i < 10) ? "0" + i : i;
          }
      
          function startTime() {
              var today = new Date(),
                  h = checkTime(today.getHours()),
                  m = checkTime(today.getMinutes()),
                  s = checkTime(today.getSeconds());
              document.getElementById('current_time').innerHTML = h + ":" + m + ":" + s;
              t = setTimeout(function () {
                  startTime()
              }, 500);
          }
          startTime();
      })();
    </script>
    <script src="js/custom.js"></script>
    </body>

</html>{% endblock %}